In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix

In [10]:
ds=pd.read_csv('/Users/harshdixit/Downloads/Project_crop_health/Crop_recommendation.csv')

In [11]:
ds.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [12]:
li=[]
for it in ds.label:
    if it not in li:
        li.append(it)
print("Number of labels/crop=",len(li))
print("Name of crops=",li)

Number of labels/crop= 22
Name of crops= ['rice', 'maize', 'chickpea', 'kidneybeans', 'pigeonpeas', 'mothbeans', 'mungbean', 'blackgram', 'lentil', 'pomegranate', 'banana', 'mango', 'grapes', 'watermelon', 'muskmelon', 'apple', 'orange', 'papaya', 'coconut', 'cotton', 'jute', 'coffee']

In [13]:
target=ds.label.astype('category').cat.codes
ds['Crop_Type_label']=target

In [14]:
ds.head()

,N,P,K,temperature,humidity,ph,rainfall,label,Crop_Type_label
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,20
1,85,58,41,21.770462,80.319644,7.038096,226.655537,rice,20
2,60,55,44,23.004459,82.320763,7.840207,263.964248,rice,20
3,74,35,40,26.491096,80.158363,6.980401,242.864034,rice,20
4,78,42,42,20.130175,81.604873,7.628473,262.717340,rice,20

### adding column for soil health level (1-excellent to 5-worst)

In [23]:
ds['Level'] = np.random.randint(1,6,ds.shape[0])

In [24]:
ds.head()

,N,P,K,temperature,humidity,ph,rainfall,label,Crop_Type_label,Level
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,20,1
1,85,58,41,21.770462,80.319644,7.038096,226.655537,rice,20,3
2,60,55,44,23.004459,82.320763,7.840207,263.964248,rice,20,3
3,74,35,40,26.491096,80.158363,6.980401,242.864034,rice,20,1
4,78,42,42,20.130175,81.604873,7.628473,262.717340,rice,20,2

In [25]:
ds.describe()

,N,P,K,temperature,humidity,ph,rainfall,Crop_Type_label,Level
count,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000
mean,50.551818,53.362727,48.149091,25.616244,71.481779,6.469480,103.463655,10.500000,2.972273
std,36.917334,32.985883,50.647931,5.063749,22.263812,0.773938,54.958389,6.345731,1.408948
min,0.000000,5.000000,5.000000,8.825675,14.258040,3.504752,20.211267,0.000000,1.000000
25%,21.000000,28.000000,20.000000,22.769375,60.261953,5.971693,64.551686,5.000000,2.000000
50%,37.000000,51.000000,32.000000,25.598693,80.473146,6.425045,94.867624,10.500000,3.000000
75%,84.250000,68.000000,49.000000,28.561654,89.948771,6.923643,124.267508,16.000000,4.000000
max,140.000000,145.000000,205.000000,43.675493,99.981876,9.935091,298.560117,21.000000,5.000000

In [26]:
x=ds[['N','P','K','temperature','humidity','ph','rainfall','Crop_Type_label']]
y=ds.Level

In [27]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.4,random_state=0)

In [28]:
#for different values of k
k=[3,4,5,6,7,8,9]
score=[]

In [29]:
for it in k:
    knn=KNeighborsClassifier(n_neighbors=it)
    knn.fit(xtrain,ytrain)
    score.append(knn.score(xtest,ytest))

/Users/harshdixit/opt/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)
/Users/harshdixit/opt/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)
/Users/harshdixit/opt/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)
/Users/harshdixit/opt/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)
/Users/harshdixit/opt/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)
/Users/harshdixit/opt/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)
/Users/harshdixit/opt/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [30]:
score

[0.1965909090909091,
 0.20113636363636364,
 0.2,
 0.2,
 0.21363636363636362,
 0.21704545454545454,
 0.20795454545454545]